$clr-primary: #0a2463;
$clr-secondary: #ff5b2e;

$primary: $clr-primary;
$secondary: $clr-secondary;

$font-family-sans-serif: "League Spartan", sans-serif;
// $font-family-sans-serif: "Quicksand", sans-serif;
// $font-family-serif: "Fredoka One", serif;
$font-family-serif: "Montserrat Alternates", serif;
$headings-font-family: $font-family-serif;

$btn-line-height: 1;
$btn-padding-x: 2em;
$btn-padding-y: 1em;
$btn-border-radius: 1em;
$btn-font-weight: 600;

$body-bg: #fffaf6;
$body-color: #555555;

$headings-color: $clr-primary;
$heading-font-weight: 700;

$display-font-weight: 700;

$lead-font-weight: 500;

$container-padding-x: 2rem;

$section-padding-y: 5rem;